<!DOCTYPE html>
<html>

<head>
	<title>Add Employee Information</title>
	<link rel="stylesheet" href="./styleAddEmp.css">
</head>

<body>
	<div class="container">

		<div class="title">Employee Database</div>

		<div class="content">

			<form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">

				


				<div class="employee-details">
                
					<div class="input-box-image">
						<span class="details"></span>
						<img id="pic" src="unknown.jpg" alt="employee-image" />
						<input type=file name="emp_image_file" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
						<br>
					</div>
				

					<div class="input-box">
						<span class="details">Employee ID:</span>
						<input type="number" name="emp_id" placeholder="Enter ID" required>
					</div>

					<div class="input-box">
						<span class="details">First Name:</span>
						<input type="text" name="first_name" placeholder="Enter First Name" required>
					</div>

					<div class="input-box">
						<span class="details">Last Name:</span>
						<input type="text" name="last_name" placeholder="Enter Last Name" required>
					</div>

					<div class="input-box">
						<span class="details">Primary Skills:</span>
						<input type="text" name="pri_skill" placeholder="Enter Primary Skills" required>
					</div>

					<div class="input-box">
						<span class="details">Location:</span>
						<input type="text" name="location" placeholder="Enter Locations" required>
					</div>

					
				</div>

				<div class="button">
					<input type="submit" value="Update Database">
				</div>

				<div class="button1" type="submit" formaction="/getemp">
					<input type="submit" value="Get Employee Information">
				</div>



			</form>
			<a href="/about">About Us</a>
		</div>
	</div>
</body>

</html>